/*blue arriere plan : rgba(145, 191, 234, 0.203) */
/*blue ecriture : rgba(4, 4, 116, 0.938) */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.cv-container{
    /* height: 100vh; */
    background-color: rgba(145, 191, 234, 0.203);
    color: rgba(4, 4, 116, 0.938);
}
.cv-column{
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3px;
}
a{
    color: inherit;
}
.profile-partie{
    height: 100%;
    padding: 5px;
}
.profile-partie .avatar-container{
    display: flex;
    justify-content: center;
}
.profile-partie .avatar-container .avatar{
    width:200px;
    height: 200px;
    background-image: url("../IMAGES/me_4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-partie .avatar-container .avatar img{
    width: 200px;
    height: 200px; 
}

.info-perso-container{
    line-height: 1.6;
    color: white;
    padding-left: 10px;
    padding-top: 100px;
    padding-bottom: 25px;
    border-radius: 10px;
    margin-top: -100px;
    background-color: rgba(4, 4, 116, 0.84);
    /* height: 500px; */

}

.name{
    text-align: center;
    font-size: 20px;
}
.titre-info{
    width: 100%;
    padding-bottom: 40px;
}
.info-perso{
    background-color: whitesmoke;
    width: max-content;
    color: rgba(4, 4, 116, 0.938);
    padding: 3px 10px 3px 10px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.profile-description{
    color: white;
    line-height: 2;
}
.ligne hr{
    border: 1px solid whitesmoke;
    margin-top: -20px;
}

.info-perso.info3{
    background-color: rgba(4, 4, 116, 0.938);
    width: max-content;
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    margin-top: 10px;
}
.ligne.ligne3 hr{
    border: 1px solid rgba(4, 4, 116, 0.642);
    margin-top: -25px;
}
/* =================================================================================================== */
.info-partie{
    padding: 20px;
}
.competences-languages{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
    border: none;
    padding: 20px;
    border-radius: 15px;
    transition: transform 0.3s ease , box-shadow 0.3s ease;
}
.competences-languages:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transform: scale(1);
}
.competences-languages.v1{
    display: block;
}

.langue label{
    padding-right: 20px;
}
.elements{
    padding-bottom: 15px;
}
.info-formation{
    line-height: 1.6;
}
.info-formation ul{
    padding-left: 35px;
}
.info-formation span{
    margin-top: 10px;
    font-size: 14px;
    float: right;
    font-weight: 100;
}

.projet1{
    line-height: 1.8;
}
.projet1 ul{
    list-style:none;
}
.langue1{
    display: grid;
    grid-template-columns: 50% 50% ;
}
.langue1 label{
    padding-right: 20px;
}
@media  (max-width: 680px) {
    .cv-column{
        grid-template-columns: 100%;
    }
    .competences-languages{
        grid-template-columns: 100%;
    }
    .langue1{
        grid-template-columns: 100% ;
    }
}